/2014 - Temporal Difference Learning of N-Tuple Networks for the Game 2048 [Szubert, Jaskowski].pdf
/2021 - Developing Value Networks for Game 2048 with Reinforcement Learning [Matsuzaki].pdf
/DQN_CNN_2024_10_26
/DQN_CNN_2024_10_27
/logs